In [ ]:
'''
Author: Srikanth
Title: Tv_Shows
Date:28th May,2020
Obejective: To Read, clean tv_shows.csv and provide some useful insights about the data available
'''

# Description of the Data Set

The data was scraped from Reelgood.com, which comprised a comprehensive list of tv shows available on various streaming platforms

Inspiration
Which streaming platform(s) can I find this tv show on?
IMDb ratings of a tv show?
Target age group tv shows vs the streaming application they can be found on
The year during which a tv show was produced and the streaming platform they can be found on

# Approach To Data Set

We Shall follow the below approach to the Data Set
Step 1: Clean the Data
    Step 2: Feature Engineering the Data
        Step 3: Visualization
            Step 4: Conclusion

# Step 1: Clean the Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
show=pd.read_csv('tv_shows.csv')

In [16]:
show.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [7]:
show.shape

(5611, 11)

In [14]:
show['Title'].unique

<bound method Series.unique of 0                          Breaking Bad
1                       Stranger Things
2                           Money Heist
3                              Sherlock
4                      Better Call Saul
                     ...
5606    Tut's Treasures: Hidden Secrets
5607                   Paradise Islands
5608                        Wild Russia
5609                        Love & Vets
5610           United States of Animals
Name: Title, Length: 5611, dtype: object>

In [15]:
show.isna().sum()

Unnamed: 0            0
Title                 0
Year                  0
Age                2446
IMDb               1161
Rotten Tomatoes    4600
Netflix               0
Hulu                  0
Prime Video           0
Disney+               0
type                  0
dtype: int64

In [21]:
show[show['Age'].isnull() | show['IMDb'].isnull() | show['Rotten Tomatoes'].isnull()]

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
85,85,Death Note,2006,18+,9.0,NaN,1,1,0,0,1
93,93,American Horror Story,2011,18+,8.0,NaN,1,1,1,0,1
96,96,Criminal Minds,2005,16+,8.1,NaN,1,0,0,0,1
119,119,Person of Interest,2011,16+,8.4,NaN,1,0,0,0,1
128,128,Hunter x Hunter,2011,16+,8.9,NaN,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5606,5606,Tut's Treasures: Hidden Secrets,2018,NaN,NaN,NaN,0,0,0,1,1
5607,5607,Paradise Islands,2017,NaN,NaN,NaN,0,0,0,1,1
5608,5608,Wild Russia,2018,NaN,NaN,NaN,0,0,0,1,1
5609,5609,Love & Vets,2017,NaN,NaN,NaN,0,0,0,1,1
5610,5610,United States of Animals,2016,NaN,NaN,NaN,0,0,0,1,1